<!-- 修改密码表单 -->
<form class="layui-form model-form popupForm">
    <div class="layui-form-item">
        <label class="layui-form-label layui-form-required">Account: </label>
        <div class="layui-input-block" id="idAccount">
            
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label layui-form-required">Current: </label>
        <div class="layui-input-block">
            <input type="password" name="password" placeholder="Please input current password" class="layui-input"
                   lay-verType="tips" lay-verify="required" required/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label layui-form-required">New: </label>
        <div class="layui-input-block">
            <input type="password" name="newPassword" placeholder="Please input new password" class="layui-input"
                   lay-verType="tips" lay-verify="required|psw" required/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label layui-form-required">New again: </label>
        <div class="layui-input-block">
            <input type="password" name="reNewPassword" placeholder="Please input new password again" class="layui-input"
                   lay-verType="tips" lay-verify="required|equalTo" lay-equalTo="input[name=newPassword]" required/>
        </div>
    </div>
    <!--
    <div class="layui-form-item">
        <label class="layui-form-label">Email: </label>
        <div class="layui-input-block">
            <input class="layui-input" id="idEmail" name="email" placeholder="Please input email" autocomplete="off"
				   lay-verType="tips" lay-verify="emailX" required/>
        </div>
    </div>
    -->
    <div class="layui-form-item">
        <div class="layui-input-block text-right">
            <button class="layui-btn" lay-filter="submit-psw" lay-submit>Save</button>
            <button class="layui-btn layui-btn-primary" type="button" ew-event="closeDialog">Cancel</button>
        </div>
    </div>
</form>

<!-- js部分 -->
<script>
    layui.use(['layer', 'form', 'admin', 'formX'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;
        var admin = layui.admin;

		// 获取当前登录用户！
		currentUser = getCurrentLoginUser();
        
        // 邮箱回填！
        $("#idEmail").val(currentUser.email);
        
        // 账号回显！
        $("#idAccount").html(currentUser.account);
        
        // 监听提交
        form.on('submit(submit-psw)', function (data) {
            var loadIndex = layer.load(2);
            //构造id
            data.field.id = currentUser.id;
            $.ajax({
                type: 'post',
                url: getProjectUrl() + 'sysUser/updatePwd',
                contentType: 'application/json',
                data: JSON.stringify(data.field),
                success: function (res) {
                    layer.close(loadIndex);
                    if (res.success) {
                        layer.msg(res.message, {icon: 1, time: 1500}, function () {
                            admin.closeDialog('[lay-filter="submit-psw"]');
                            location.reload(); // 修改密码后，由于已经退出登录了，所以需要刷新当前页面！
                        });
                    } else {
                        layer.msg(res.message, {icon: 2, anim: 6});
                    }
                },
                error: function(res) {
                    layer.close(loadIndex);
                    layer.msg(res.responseText, {icon: 2, anim: 6});
                }
            });
            return false;
        });

    });
</script>