<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cn.xiaonuo.modular.libraries.mapper.LibrariesMapper">

	<resultMap id="libraries" type="com.cn.xiaonuo.modular.libraries.entity.Libraries">
		<id column="id" property="id" />
		<result column="library_type" property="libraryType" />
		<result column="library_name" property="libraryName" />
		<result column="library_desc" property="libraryDesc" />
	</resultMap>
	
	<select id="listByPmidAndGroupName" resultMap="libraries">
		SELECT id, library_type, library_name, library_desc
		FROM lr_libraries
		WHERE `status` = 2
		AND group_name = '${groupName}'
		AND id NOT IN (
			SELECT llp.library_id
			FROM lr_libraries_publications llp
			WHERE llp.pmid = ${pmid}
		)
	</select>

</mapper>
